on:
  push:
    branches: [master]
    paths:
      - "**.py"
      - "pyproject.toml"
      - "uv.lock"
  pull_request:
    types: [opened, synchronize, reopened, edited, labeled, unlabeled]

permissions:
  contents: read

name: pytest

jobs:
  uv-pytest:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Install the project
        run: uv sync --all-groups

      - name: Run tests using coverage
        run: uv run --group test coverage run -m pytest --capture=tee-sys -vvv --log-cli-level=INFO tests/
      - name: Report coverage
        run: uv run coverage report -m
